/* TODO: use css grid */
:root {
  --size: 10;
}
* {
  box-sizing: border-box;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
  border: solid black 1px;
  width: 300px;
  height: 300px
}

.grid-cell {
  border: solid black 1px;
}

.live {
  background-color: black;
}
